## Sequences: String, List, Tuple

**indexing** - acces any item in the sequence using its index.  
Indexing starts with 0 for the first element.

In [1]:
# string
x = 'frog'
print(x[3])

# list
x = ['pig', 'cow', 'horse']
print(x[1])

# tuple
x = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(x[0])

g
cow
Kevin

**Slicing** - slice out substring, sublist, subtuples using indexes.  
[start : end+1 : step]

In [2]:
x = 'computer'
print(x[1:4])
print(x[1:6:2])
print(x[3:])
print(x[:5])
print(x[-1])
print(x[-3:])
print(x[:-2])

omp
opt
puter
compu
r
ter
comput

**adding / concatenating** - combine 2 sequences of the same type by using +

In [4]:
# string
x = 'horse' + 'shoe'
print(x)

# list
y = ['pig', 'cow'] + ['horse']
print(y)

# tuple
z = ('Kevin', 'Niklas', 'Jenny') + ('Craig',)
print(z)

horseshoe
['pig', 'cow', 'horse']
('Kevin', 'Niklas', 'Jenny', 'Craig')

**multiplying** - multiply a sequence using *

In [5]:
# string
x = 'bug' * 3
print(x)

# list
y = [8, 5] * 3
print(y)

# tuple
z = (2, 4) * 3
print(z)

bugbugbug
[8, 5, 8, 5, 8, 5]
(2, 4, 2, 4, 2, 4)

**checking membership** - test whether an item is or not in a sequence

In [6]:
# string
x = 'bug'
print('u' in x)

# list
y = ['pig', 'cow', 'horse']
print('cow' not in y)

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print('Niklas' in z)

True
False
True

**iterating** - iterating through the item in a sequence

In [7]:
# item
x = [7, 8, 3]
for item in x:
    print(item)

# index & item
y = [7, 8, 3]
for index, item in enumerate(y):
    print(index, item)

7
8
3
0 7
1 8
2 3

**number of items** - count the number of item in a sequence

In [8]:
# string
x = 'bug'
print(len(x))

# list
y = ['pig', 'cow', 'horse']
print(len(y))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(len(z))

3
3
4

**minimum** - find the minimum item in a sequence lexicographically (ascii).  
Alpha or numeric types, but cannot mix types

In [9]:
# string
x = 'bug'
print(min(x))

# list
y = ['pig', 'cow', 'horse']
print(min(y))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(min(z))

b
cow
Craig

**maximum** - find the maximum item in a sequence lexicographically (ascii).
Alpha or numeric types, but cannot mix types

In [10]:
# string
x = 'bug'
print(max(x))

# list
y = ['pig', 'cow', 'horse']
print(max(y))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(max(z))

u
pig
Niklas

**sum** - find the sum of items in a sequence.  
Entire sequence must be numeric

In [11]:
# string -> error
# x = [5, 7, 'bug']
# print(sum(x))     # generate an error

# list
y = [2, 5, 8, 12]
print(sum(y))
print(sum(y[-2:]))

# tuple
z = (50, 4, 7, 19)
print(sum(z))

27
20
80

**sorting** - returns a new list of items in sorted order.  
Does not change the original list.

In [16]:
# string
x = 'bug'
print(sorted(x))
# print("".join(sorted(x)))     # join lo convierte a string

# list
y = ['pig', 'cow', 'horse']
print(sorted(y))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(sorted(z))

['b', 'g', 'u']
['cow', 'horse', 'pig']
['Craig', 'Jenny', 'Kevin', 'Niklas']

**sorting** - sort by second letter  
Add a key parameter an a lambda function to return the second character.  
(the word *key* here is a define parameter name, *k* is an arbitrary variable name).

In [19]:
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(sorted(z, key=lambda k: k[1])) # k es el index del caracter a ordenar

['Kevin', 'Jenny', 'Niklas', 'Craig']

**count(item)** - returns count of an item

In [20]:
# string
x = 'hippo'
print(x.count('p'))

# list
y = ['pig', 'cow', 'horse', 'cow']
print(y.count('cow'))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(z.count('Kevin'))

2
2
1

**index(item)** - returns the index of the first occurence of an item

In [22]:
# string
x = 'hippo'
print(x.index('p'))

# list
y = ['pig', 'cow', 'horse', 'cow']
print(y.index('cow'))

# tuple
z = ('Kevin', 'Niklas', 'Jenny', 'Craig')
print(z.index('Jenny'))

2
1
2

**unpacking** - unpack the n items of a sequence into n variables

In [23]:
x = ['pig', 'cow', 'horse']
a, b, c = x
print(a, b, c)

pig cow horse